.studio
{
  .videos-container
  {
    margin-left: -4px;
    display: flex;
    flex-wrap: wrap;

    .videos
    {
      padding: 4px;
      box-sizing: border-box;
    }
    .me, .guests
    {
      width: 200px;
      height: 200px;

      .video
      {
        background-color: #000000;

        video
        {
          height: 100%;
        }
      }
    }
  }
}
