.live-container.guest{
  .videos{
    display: flex;
    justify-content: center;
    margin: 30px;
    .me button{
      display: none
    }
  }
}

@media (max-width: 576px) {
  .live-container{
    padding: 0;
    .sidebar{
      height: 400px;
    }
  }
}
